* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 15px 15%;
  background-color: #7ee5ed;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-container {
  width: 30%;
  padding: 70px 2%;
  margin: 100px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  background-color: #dfd3c3;
  color: #000;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: 0.6s ease-in-out;
}

.card-container:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.front-side,
.back-side {
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 30vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.front-side {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  z-index: 2;
}

.back-side {
  padding: 16px 48px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.id,
.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  font-size: 18px;
}

.cta-control {
  display: flex;
  justify-content: center;
}

.btn {
  width: 50px;
  height: 50px;
  margin: 0 20px;
  border: 1px solid #7ee5ed;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #7ee5ed;
  cursor: pointer;
  text-indent: -99999px;
}

.btn:hover {
  background-color: #7ee5ed;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.btn.previous::before,
.btn.next::before {
  content: "\f061";
  float: left;
  font-family: "FontAwesome";
  text-indent: 0;
  font-size: 25px;
  font-weight: 600;
}

.btn.previous::before {
  rotate: 180deg;
}
