* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  padding: 15px 15%;
  background-color: #7ee5ed;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-container{
  position: relative;
}

.card-detail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
}

.card-detail.activeSlide {
  opacity: 1;
  transform: translateX(0);
}